name: 编译安卓APK
  
on:  
  workflow_dispatch:
  
env:
  RUST_VERSION: "1.75"
  ANDROID_FLUTTER_VERSION: "3.24.5"
  CARGO_NDK_VERSION: "3.1.2"
  NDK_VERSION: "r27c"
  VERSION: "1.4.3"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"
  TAG_NAME: "android-build"
  
jobs:
  build-android-apk:
    name: 构建Android APK ${{ matrix.job.arch }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        job:
          - {
              arch: aarch64,
              target: aarch64-linux-android,
              reltype: release,
            }
          - {
              arch: armv7,  
              target: armv7-linux-androideabi,  
              reltype: release,  
            }
          - {  
              arch: x86_64,  
              target: x86_64-linux-android,  
              reltype: release,  
            }

    steps:  
      - name: 释放磁盘空间  
        uses: jlumbroso/free-disk-space@main  
        with:  
          tool-cache: false  
          android: false  
          dotnet: true  
  
      - name: 导出GitHub Actions缓存环境变量  
        uses: actions/github-script@v6  
        with:  
          script: |  
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');  
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');  
  
      - name: 安装依赖  
        run: |  
          sudo apt-get update  
          sudo apt-get install -y \
               clang \
               cmake \
               curl \
               gcc-multilib \
               git \
               g++ \
               g++-multilib \
               libayatana-appindicator3-dev \
               libasound2-dev \
               libc6-dev \
               libclang-dev \
               libunwind-dev \
               libgstreamer1.0-dev \
               libgstreamer-plugins-base1.0-dev \
               libgtk-3-dev \
               libpam0g-dev \
               libpulse-dev \
               libva-dev \
               libxcb-randr0-dev \
               libxcb-shape0-dev \
               libxcb-xfixes0-dev \
               libxdo-dev \
               libxfixes-dev \
               llvm-dev \
               nasm \
               ninja-build \
               openjdk-17-jdk-headless \
               pkg-config \
               tree \
               wget
  
      - name: 检出源代码  
        uses: actions/checkout@v5
        with:  
          submodules: recursive

      - name: 安装bridge生成依赖  
        run: |  
          cargo install cargo-expand --version 1.0.95 --locked  
          cargo install flutter_rust_bridge_codegen --version 1.80.1 --features "uuid" --locked  
  
      - name: 生成本地bridge文件  
        run: |  
          ~/.cargo/bin/flutter_rust_bridge_codegen --rust-input ./src/flutter_ffi.rs --dart-output ./flutter/lib/generated_bridge.dart --c-output ./flutter/macos/Runner/bridge_generated.h  
          cp ./flutter/macos/Runner/bridge_generated.h ./flutter/ios/Runner/bridge_generated.h
  
      - name: 安装Flutter  
        uses: subosito/flutter-action@v2  
        with:  
          channel: "stable"  
          flutter-version: ${{ env.ANDROID_FLUTTER_VERSION }}  
  
      - name: 修补Flutter  
        run: |  
          cd $(dirname $(dirname $(which flutter)))  
          [[ "3.24.5" == ${{env.ANDROID_FLUTTER_VERSION}} ]] && git apply ${{ github.workspace }}/.github/patches/flutter_3.24.4_dropdown_menu_enableFilter.diff  
  
      - name: 设置NDK  
        uses: nttld/setup-ndk@v1  
        id: setup-ndk  
        with:  
          ndk-version: ${{ env.NDK_VERSION }}  
          add-to-path: true  
  
      - name: 设置vcpkg与GitHub Actions二进制缓存  
        uses: lukka/run-vcpkg@v11  
        with:  
          vcpkgDirectory: /opt/artifacts/vcpkg  
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}  
          doNotCache: false  
  
      - name: 安装vcpkg依赖  
        run: |  
          case ${{ matrix.job.target }} in  
            aarch64-linux-android)  
              ANDROID_TARGET=arm64-v8a  
            ;;  
            armv7-linux-androideabi)  
              ANDROID_TARGET=armeabi-v7a  
            ;;  
            x86_64-linux-android)  
              ANDROID_TARGET=x86_64  
            ;;  
          esac  
          if ! ./flutter/build_android_deps.sh "${ANDROID_TARGET}"; then  
            find "${VCPKG_ROOT}/" -name "*.log" | while read -r _1; do  
              echo "$_1:"  
              echo "======"  
              cat "$_1"  
              echo "======"  
              echo ""  
            done  
            exit 1  
          fi  
        shell: bash  
  
      - name: 安装Rust工具链  
        uses: dtolnay/rust-toolchain@v1  
        with:  
          toolchain: ${{ env.RUST_VERSION }}  
          components: "rustfmt"  
  
      - name: Rust缓存  
        uses: Swatinem/rust-cache@v2  
        with:  
          prefix-key: rustdesk-lib-cache-android  
          key: ${{ matrix.job.target }}  
  
      - name: 构建rustdesk库  
        env:  
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}  
          ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}  
        run: |  
          rustup target add ${{ matrix.job.target }}  
          cargo install cargo-ndk --version ${{ env.CARGO_NDK_VERSION }} --locked  
          case ${{ matrix.job.target }} in  
            aarch64-linux-android)  
              ./flutter/ndk_arm64.sh  
              mkdir -p ./flutter/android/app/src/main/jniLibs/arm64-v8a  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/arm64-v8a/librustdesk.so  
            ;;  
            armv7-linux-androideabi)  
              ./flutter/ndk_arm.sh  
              mkdir -p ./flutter/android/app/src/main/jniLibs/armeabi-v7a  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/armeabi-v7a/librustdesk.so  
            ;;  
            x86_64-linux-android)  
              ./flutter/ndk_x64.sh  
              mkdir -p ./flutter/android/app/src/main/jniLibs/x86_64  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/x86_64/librustdesk.so  
            ;;  
          esac  
  
      - name: 构建rustdesk APK  
        shell: bash  
        env:  
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64  
        run: |  
          export PATH=/usr/lib/jvm/java-17-openjdk-amd64/bin:$PATH  
          case ${{ matrix.job.target }} in  
            aarch64-linux-android)  
              mkdir -p ./flutter/android/app/src/main/jniLibs/arm64-v8a  
              cp ${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/lib/aarch64-linux-android/libc++_shared.so ./flutter/android/app/src/main/jniLibs/arm64-v8a/  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/arm64-v8a/librustdesk.so  
              # 构建flutter  
              pushd flutter  
              flutter build apk "--${{ matrix.job.reltype }}" --target-platform android-arm64 --split-per-abi  
              mv build/app/outputs/flutter-apk/app-arm64-v8a-${{ matrix.job.reltype }}.apk ../rustdesk-${{ env.VERSION }}-${{ matrix.job.arch }}.apk  
            ;;  
            armv7-linux-androideabi)  
              mkdir -p ./flutter/android/app/src/main/jniLibs/armeabi-v7a  
              cp ${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/lib/arm-linux-androideabi/libc++_shared.so ./flutter/android/app/src/main/jniLibs/armeabi-v7a/  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/armeabi-v7a/librustdesk.so  
              # 构建flutter  
              pushd flutter  
              flutter build apk "--${{ matrix.job.reltype }}" --target-platform android-arm --split-per-abi  
              mv build/app/outputs/flutter-apk/app-armeabi-v7a-${{ matrix.job.reltype }}.apk ../rustdesk-${{ env.VERSION }}-${{ matrix.job.arch }}.apk  
            ;;  
            x86_64-linux-android)  
              mkdir -p ./flutter/android/app/src/main/jniLibs/x86_64  
              cp ${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/lib/x86_64-linux-android/libc++_shared.so ./flutter/android/app/src/main/jniLibs/x86_64/  
              cp ./target/${{ matrix.job.target }}/release/liblibrustdesk.so ./flutter/android/app/src/main/jniLibs/x86_64/librustdesk.so  
              # 构建flutter  
              pushd flutter  
              flutter build apk "--${{ matrix.job.reltype }}" --target-platform android-x64 --split-per-abi  
              mv build/app/outputs/flutter-apk/app-x86_64-${{ matrix.job.reltype }}.apk ../rustdesk-${{ env.VERSION }}-${{ matrix.job.arch }}.apk  
            ;;  
          esac  
          popd  
  
      - name: 上传构建产物  
        uses: actions/upload-artifact@master  
        with:  
          name: rustdesk-${{ env.VERSION }}-${{ matrix.job.arch }}.apk  
          path: rustdesk-${{ env.VERSION }}-${{ matrix.job.arch }}.apk  
  
